version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: permisos_api
    restart: unless-stopped
    volumes:
      - .:/var/www
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: permisos_nginx
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: postgres:16
    container_name: permisos_db
    restart: always
    environment:
      POSTGRES_DB: permisos
      POSTGRES_USER: permisos_user
      POSTGRES_PASSWORD: permisos_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
