<h1>Dashboard</h1>

<!-- EMPLEADO -->
<div *ngIf="role === 'empleado'" class="grid">

  <div class="card">
    <h3>Horas usadas</h3>
    <p>{{ data?.horas_usadas }} hs</p>
  </div>

  <div class="card">
    <h3>Horas disponibles</h3>
    <p>{{ data?.horas_disponibles }} hs</p>
  </div>

  <div class="card">
    <h3>Permisos solicitados</h3>
    <p>{{ data?.permisos_mes }}</p>
  </div>

  <a routerLink="/mis-permisos" class="card action">
    Ver mis permisos →
  </a>

</div>

<!-- SUPERVISOR / RRHH -->
<div *ngIf="role === 'supervisor' || role === 'rrhh'" class="grid">

  <div class="card warning">
    <h3>Pendientes</h3>
    <p>{{ data?.pendientes }}</p>
  </div>

  <div class="card success">
    <h3>Aprobados</h3>
    <p>{{ data?.aprobados_mes }}</p>
  </div>

  <div class="card danger">
    <h3>Rechazados</h3>
    <p>{{ data?.rechazados_mes }}</p>
  </div>

  <a routerLink="/aprobaciones" class="card action">
    Ir a aprobaciones →
  </a>

</div>
