<div class="usuarios-container">

  <div class="header">
    <h2>Usuarios del sistema</h2>
    <a
        routerLink="/auth/register"
        class="btn-primary"
    >
        Nuevo Usuario
    </a>
  </div>

  <div *ngIf="loading">Cargando usuarios...</div>

  <div class="error" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>

  <table *ngIf="!loading && usuarios.length">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Estado</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of usuarios">
        <td data-label="Nombre">
          {{ u.name }}
        </td>

        <td data-label="Email">
          {{ u.email }}
        </td>

        <td data-label="Rol">
          <span class="rol" [ngClass]="u.role">
            {{ u.role }}
          </span>
        </td>

        <td data-label="Estado">
          <span
            class="estado"
            [class.activo]="!u.deleted_at"
            [class.inactivo]="u.deleted_at"
          >
            {{ u.deleted_at ? 'Inactivo' : 'Activo' }}
          </span>
        </td>

        <td data-label="Acciones">
          <label
            class="switch"
            *ngIf="!esUsuarioActual(u)"
          >
            <input
              type="checkbox"
              [checked]="!u.deleted_at"
              (change)="onToggleEstado(u, $event)"
            />
            <span class="slider"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- Paginación -->
  <div class="pagination" *ngIf="lastPage > 1">
      <button
          (click)="irAPagina(currentPage - 1)"
          [disabled]="currentPage === 1 || loading">
          « Anterior
      </button>

      <span>
          Página {{ currentPage }} de {{ lastPage }}
      </span>

      <button
          (click)="irAPagina(currentPage + 1)"
          [disabled]="currentPage === lastPage || loading">
          Siguiente »
      </button>
  </div>

  <p *ngIf="!loading && !usuarios.length">
    No hay usuarios registrados.
  </p>

</div>
