<div class="register-container">
  <h2>Registrar nuevo usuario</h2>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="field">
      <label>Nombre</label>
      <input type="text" formControlName="name" />
      <small *ngIf="form.get('name')?.touched && form.get('name')?.invalid">
        El nombre es obligatorio
      </small>
    </div>

    <div class="field">
      <label>Email</label>
      <input type="email" formControlName="email" />
      <small *ngIf="form.get('email')?.touched && form.get('email')?.invalid">
        Email inválido
      </small>
    </div>

    <div class="field">
      <label>Contraseña</label>
      <input type="password" formControlName="password" />
      <small *ngIf="form.get('password')?.touched && form.get('password')?.invalid">
        Mínimo 8 caracteres
      </small>
    </div>

    <div class="field">
      <label>Rol</label>
      <select formControlName="role">
        <option value="empleado">Empleado</option>
        <option value="supervisor">Supervisor</option>
        <option value="rrhh">RRHH</option>
      </select>
    </div>

    <div class="error" *ngIf="errorMessage">
      {{ errorMessage }}
    </div>

    <div class="success" *ngIf="successMessage">
      {{ successMessage }}
    </div>

    <div class="actions">
        <button
            type="button"
            class="btn-secondary"
            (click)="volver()"
        >
            Volver
        </button>

        <button type="submit" [disabled]="loading" class="btn-primary">
            {{ loading ? 'Registrando...' : 'Registrar usuario' }}
        </button>
    </div>

  </form>
</div>
