<div class="container">
    <div class="max-w-xl mx-auto bg-white p-8 rounded-xl shadow-lg">

        <h2 class="text-2xl font-bold text-gray-800 mb-1">
            Solicitud de Permiso
        </h2>

        <p class="subtitle">
            Horas disponibles:
            <span class="badge">{{ horasDisponibles }} hs</span>
        </p>

        <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-5">

            <!-- Fecha -->
            <div>
            <label class="block text-sm font-medium text-gray-700 mb-1">
                Fecha
            </label>
            <input
                type="date"
                formControlName="fecha"
                [attr.min]="minFecha"
                class="date-input"
            />
            <p *ngIf="form.get('fecha')?.errors?.['fechaPasada']"
                class="error-text">
                La fecha no puede ser anterior a hoy
            </p>
            </div>

            <!-- Horarios -->
            <div class="time-grid grid-cols-2 gap-4">
                <div class="gap-4">
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                    Hora inicio
                    </label>
                    <input
                        type="time"
                        formControlName="hora_inicio"
                        class="time-input"
                    />
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700 mb-1">
                    Hora fin
                    </label>
                    <input
                    type="time"
                    formControlName="hora_fin"
                    class="w-full rounded-lg border px-4 py-2.5 text-sm
                            focus:ring-2 focus:ring-indigo-500"
                    />
                </div>
            </div>

            <p *ngIf="form.errors?.['horarioInvalido']" class="error-text">
                El horario debe estar entre 07:30 y 13:30 y ser válido
            </p>

            <p *ngIf="form.errors?.['horaPasadaHoy']" class="error-text">
                La hora de inicio debe ser posterior a la hora actual
            </p>

            <!-- Motivo -->
            <div>
                <label class="block text-sm font-medium text-gray-700 mb-1">
                    Motivo
                </label>
                <textarea
                    rows="3"
                    formControlName="motivo"
                    class="w-full rounded-lg border px-4 py-2.5 text-sm
                        focus:ring-2 focus:ring-indigo-500"
                ></textarea>

                <p *ngIf="form.get('motivo')?.touched && form.get('motivo')?.invalid"
                    class="error-text">
                    El motivo debe tener al menos 5 caracteres
                </p>
            </div>

            <!-- Error general -->
            <p *ngIf="error" class="text-red-600 text-sm font-medium">
                {{ error }}
            </p>

            <!-- Botón -->
            <div class="actions">
                <button
                    type="button"
                    class="btn-secondary"
                    (click)="volver()"
                >
                    Volver
                </button>

                <button
                    type="submit"
                    [disabled]="form.invalid"
                    class="btn-primary disabled:opacity-50"
                >
                    Solicitar permiso
                </button>
            </div>
            
        </form>
    </div>

</div>

